@import '../helpers/settings'
@import '../helpers/mixins'

////////////////////////////////////////
// $Modal window
////////////////////////////////////////

//////////////////////////////////////// Block variables


//////////////////////////////////////// Block mixins and functions


//////////////////////////////////////// Block styles
$block: ".boss-modal-window"

#{$block}
  $border-radius: 5px
  +normalize-block()
  +box-model-normalizer()

  position: relative !important
  top: auto !important
  left: auto !important
  bottom: auto !important
  right: auto !important
  z-index: 10001
  cursor: default
  display: block
  width: 85%
  max-width: 400px
  margin: 200px auto 100px

  @media screen and (max-width: 960px)
    margin-top: 150px

  @media screen and (max-width: 480px)
    margin-top: 100px

  border-radius: $border-radius !important
  padding: 0 !important

  // $Modal window MOD: adjust submit button
  &_adjust_submit-button
    width: 339px !important
    text-align: center
    font-size: 20px

  // $Modal window MOD: adjust input pin
  &_adjust_input-pin
    width: 339px !important
    margin-bottom: 0.7em !important

  // $Modal window MOD: adjust textarea
  &_adjust_textarea
    margin-bottom: 1.7em !important

  // $Modal window MOD: role note
  // $Modal window MOD: role preview
  // $Modal window MOD: role details
  // $Modal window MOD: role add new
  &_role_note,
  &_role_preview,
  &_role_details,
  &_role_add-new,
  &_role_confirm
    max-width: 800px

  &_role_csv-upload-payments
    width: 90%
    max-width: 960px

  // $Modal window MOD: role login
  // $Modal window MOD: role reset password
  // $Modal window MOD: role change password
  // $Modal window MOD: role set password
  // $Modal window MOD: role set password confirmation
  // $Modal window MOD: role accept invite
  // $Modal window MOD: role task create
  // $Modal window MOD: role task edit
  // $Modal window MOD: role task overview
  // $Modal window MOD: role edit
  // $Modal window MOD: role add
  &_role_login,
  &_role_reset,
  &_role_change,
  &_role_set,
  &_role_accept-invite,
  &_role_task-create,
  &_role_task-edit,
  &_role_task-overview,
  &_role_history,
  &_role_venue-details,
  &_role_disciplinary-details,
  &_role_edit,
  &_role_add
    width: 90%
    max-width: 800px

  &_role_bounced-email
    width: 90%
    max-width: 450px

  &_role_shift-details,
  &_role_wtl-card-history,
  &_role_set-confirmation,
  &_role_wtl-ev-success,
  &_role_wtl-ev-error,
  &_role_wtl-ev-almost-done
    width: 90%
    max-width: 640px

  // $Modal window MOD: role danger
  // $Modal window MOD: role error
  // $Modal window MOD: role warning
  // $Modal window MOD: role action
  // $Modal window MOD: role success
  // $Modal window MOD: role ok
  &_role_danger,
  &_role_error,
  &_role_warning,
  &_role_action,
  &_role_success,
  &_role_ok
    max-width: 400px

  &_role_rota
    max-width: 320px

  &_role_preview,
  &_role_details,
  &_role_task-create,
  &_role_task-edit,
  &_role_task-overview,
  &_role_history,
  &_role_shift-details,
  &_role_login,
  &_role_reset,
  &_role_change,
  &_role_set,
  &_role_accept-invite,
  &_role_set-confirmation,
  &_role_wtl-card-history,
  &_role_wtl-ev-success,
  &_role_wtl-ev-error,
  &_role_wtl-ev-almost-done
    margin-top: 100px

    @media screen and (max-width: 960px)
      margin-top: 100px

    @media screen and (max-width: 640px), screen and (max-height: 640px)
      margin-top: 50px
      margin-bottom: 50px

    @media screen and (max-width: 480px), screen and (max-height: 480px)
      margin-top: 25px
      margin-bottom: 25px


  // $Modal window close
  &__close
    position: absolute
    top: 0
    right: 0
    z-index: 10002
    display: block
    width: 40px
    height: 40px
    background-image: url("../icons/icon-modal-close-white.svg")
    background-repeat: no-repeat
    background-position: center center
    background-size: contain
    cursor: pointer
    outline: none
    transform: translate(50%, -50%)

    &_accent
      background-image: url("../icons/icon-modal-close-red.svg")

    &_primary
      background-image: url("../icons/icon-modal-close-primary.svg")



  // $Modal window close inner
  &__close-inner
    position: absolute
    top: 12px
    right: 12px
    z-index: 10002
    display: block
    width: 12px
    height: 12px
    cursor: pointer
    outline: none
    background-image: url(../icons/icon-close-light-gray.svg)
    background-position: center center
    background-repeat: no-repeat
    background-size: contain

    // $Modal window close inner CONTEXT: $Modal window MOD: role edit
    // $Modal window close inner CONTEXT: $Modal window MOD: role add
    // $Modal window close inner CONTEXT: $Modal window MOD: role task create
    // $Modal window close inner CONTEXT: $Modal window MOD: role task edit
    // $Modal window close inner CONTEXT: $Modal window MOD: role task overview
    #{$block}_role_edit &,
    #{$block}_role_add &,
    #{$block}_role_task-create &,
    #{$block}_role_task-edit &,
    #{$block}_role_task-overview &,
    #{$block}_role_bounced-email &,
    #{$block}_role_venue-details &,
    #{$block}_role_disciplinary-details &,
    #{$block}_role_shift-details &,
    #{$block}_role_csv-upload-payments &,
    #{$block}_role_history &,
    #{$block}_role_wtl-card-history &
      width: 16px
      height: 16px
      top: 30px
      right: 30px
      background-image: url(../icons/icon-close-medium-gray.svg)

    @media screen and (max-width: 960px)
      #{$block}_role_edit &,
      #{$block}_role_add &,
      #{$block}_role_venue-details &,
      #{$block}_role_disciplinary-details &,
      #{$block}_role_task-create &,
      #{$block}_role_task-edit &,
      #{$block}_role_task-overview &,
      #{$block}_role_bounced-email &,
      #{$block}_role_shift-details &,
      #{$block}_role_csv-upload-payments &,
      #{$block}_role_history &,
      #{$block}_role_wtl-card-history &
        right: 15px

  // $Modal window header
  &__header
    position: relative
    background-color: #77dd6f
    color: white
    padding: 15px 10px
    text-transform: uppercase
    text-align: center
    font-size: 16px
    font-weight: 600
    border-top-left-radius: $border-radius
    border-top-right-radius: $border-radius

    // $Modal window header CONTEXT: $Modal window MOD: role danger
    // $Modal window header CONTEXT: $Modal window MOD: role error
    #{$block}_role_danger &,
    #{$block}_role_error &,
    #{$block}_role_confirm &
      background-color: map-get($boss-app-palette, alert)

    // $Modal window header CONTEXT: $Modal window MOD: role warning
    #{$block}_role_warning &
      background-color: map-get($boss-app-palette, warning)

    // $Modal window header CONTEXT: $Modal window MOD: role action
    #{$block}_role_action &
      background-color: map-get($boss-app-palette, primary)

    // $Modal window header CONTEXT: $Modal window MOD: role success
    // $Modal window header CONTEXT: $Modal window MOD: role ok
    #{$block}_role_success &,
    #{$block}_role_ok &
      background-color: map-get($boss-app-palette, secondary)

    // $Modal window header CONTEXT: $Modal window MOD: role add new
    // $Modal window header CONTEXT: $Modal window MOD: role details
    #{$block}_role_add-new &,
    #{$block}_role_details &
      background-color: map-get($boss-app-palette, primary)
      text-transform: none
      font-size: 24px

    // $Modal window header CONTEXT: $Modal window MOD: role edit
    // $Modal window header CONTEXT: $Modal window MOD: role add
    // $Modal window header CONTEXT: $Modal window MOD: role task create
    // $Modal window header CONTEXT: $Modal window MOD: role task edit
    // $Modal window header CONTEXT: $Modal window MOD: role task overview
    #{$block}_role_edit &,
    #{$block}_role_add &,
    #{$block}_role_task-create &,
    #{$block}_role_task-edit &,
    #{$block}_role_task-overview &,
    #{$block}_role_bounced-email &,
    #{$block}_role_venue-details &,
    #{$block}_role_disciplinary-details &,
    #{$block}_role_shift-details &,
    #{$block}_role_csv-upload-payments &,
    #{$block}_role_history &,
    #{$block}_role_wtl-card-history &,
    #{$block}_role_wtl-ev-almost-done &
      padding: 20px 50px 20px 30px
      background-color: $boss-extra-light-gray
      text-transform: none
      font-size: 24px
      font-weight: 400
      color: #4c4c4c
      text-align: left

    #{$block}_role_login &,
    #{$block}_role_reset &,
    #{$block}_role_change &,
    #{$block}_role_set &,
    #{$block}_role_set-confirmation &,
    #{$block}_role_wtl-ev-success &,
    #{$block}_role_wtl-ev-error &,
    #{$block}_role_accept-invite &
      background-color: #f9f9f9
      background-position: center 15px
      background-repeat: no-repeat
      background-size: 170px 170px
      padding: 200px 30px 20px

    #{$block}_role_login &
      background-image: url('../images/illustration-lock-primary.svg')

    #{$block}_role_reset &
      background-image: url('../images/illustration-lock-refresh-primary.svg')

    #{$block}_role_change &,
    #{$block}_role_set &
      background-image: url('../images/illustration-lock-gear-primary.svg')

    #{$block}_role_set-confirmation &,
    #{$block}_role_wtl-ev-success &
      background-image: url('../images/illustration-check-secondary.svg')

    #{$block}_role_wtl-ev-error &
      background-image: url('../images/illustration-warning-alert.svg')

    #{$block}_role_accept-invite &
      background-image: url('../images/illustration-check-primary.svg')


    @media screen and (max-width: 960px)
      #{$block}_role_edit &,
      #{$block}_role_add &,
      #{$block}_role_task-create &,
      #{$block}_role_task-edit &,
      #{$block}_role_task-overview &,
      #{$block}_role_bounced-email &,
      #{$block}_role_venue-details &,
      #{$block}_role_disciplinary-details &,
      #{$block}_role_shift-details &,
      #{$block}_role_csv-upload-payments &,
      #{$block}_role_history &,
      #{$block}_role_wtl-card-history &
        padding-left: 15px
        padding-right: 35px

      #{$block}_role_login &,
      #{$block}_role_reset &,
      #{$block}_role_change &,
      #{$block}_role_set &,
      #{$block}_role_set-confirmation &,
      #{$block}_role_wtl-ev-success &,
      #{$block}_role_wtl-ev-error &,
      #{$block}_role_accept-invite &
        background-size: 150px 150px
        padding: 180px 15px 20px

    @media screen and (max-width: 400px)
      #{$block}_role_edit &,
      #{$block}_role_add &,
      #{$block}_role_task-create &,
      #{$block}_role_task-edit &,
      #{$block}_role_task-overview &,
      #{$block}_role_bounced-email &,
      #{$block}_role_venue-details &,
      #{$block}_role_disciplinary-details &,
      #{$block}_role_shift-details &,
      #{$block}_role_csv-upload-payments &,
      #{$block}_role_history &,
      #{$block}_role_wtl-card-history &
        font-size: 22px

    // $Modal window header MOD: error
    &_error
      background-color: map-get($boss-app-palette, alert)

    // $Modal window header MOD: warning
    &_warning
      background-color: map-get($boss-app-palette, warning)

    // $Modal window header MOD: status success
    &_status_success
      background-color: map-get($boss-app-palette, secondary)
      text-transform: none
      font-size: 24px

      #{$block}_role_details &
        background-color: map-get($boss-app-palette, secondary)

    // $Modal window header MOD: status fail
    &_status_fail
      background-color: map-get($boss-app-palette, alert)
      text-transform: none
      font-size: 24px

      #{$block}_role_details &
        background-color: map-get($boss-app-palette, alert)


  &__title
    +text-normalizer()
    font-size: 24px
    line-height: 1

    #{$block}_role_login &,
    #{$block}_role_reset &,
    #{$block}_role_change &,
    #{$block}_role_set &,
    #{$block}_role_set-confirmation &,
    #{$block}_role_wtl-ev-success &,
    #{$block}_role_wtl-ev-error &,
    #{$block}_role_wtl-ev-almost-done &,
    #{$block}_role_accept-invite &
      text-align: center

    #{$block}_role_login &,
    #{$block}_role_accept-invite &
      margin-bottom: 10px

    #{$block}_role_wtl-ev-almost-done &
      font-size: 36px


  &__marked
    font-weight: 600


  &__subtitle
    +text-normalizer()
    font-size: 18px

    #{$block}_role_login &,
    #{$block}_role_accept-invite &
      text-align: center


  // $Modal window content
  &__content
    display: block
    width: 100%
    padding: 20px 30px 30px 30px
    background-color: #FFF
    border-bottom-right-radius: $border-radius !important
    border-bottom-left-radius: $border-radius !important

    // $Modal window content CONTEXT: $Modal window MOD: role preview
    #{$block}_role_preview &
      padding: 30px
      border-radius: $border-radius !important

    // $Modal window content CONTEXT: $Modal window MOD: role danger
    #{$block}_role_danger &
      padding-top: 230px
      background: #fff url('../icons/icon-error.svg') center 35px no-repeat
      background-size: 165px 165px

    // $Modal window content CONTEXT: $Modal window MOD: role ok
    #{$block}_role_ok &
      padding-top: 230px
      background: #fff url('../icons/icon-success.svg') center 35px no-repeat
      background-size: 165px 165px

    #{$block}_role_edit &,
    #{$block}_role_add &,
    #{$block}_role_task-create &,
    #{$block}_role_task-edit &,
    #{$block}_role_task-overview &,
    #{$block}_role_login &,
    #{$block}_role_reset &,
    #{$block}_role_change &,
    #{$block}_role_set &,
    #{$block}_role_set-confirmation &,
    #{$block}_role_accept-invite &,
    #{$block}_role_rota &,
    #{$block}_role_bounced-email &,
    #{$block}_role_venue-details &,
    #{$block}_role_disciplinary-details &,
    #{$block}_role_csv-upload-payments &,
    #{$block}_role_history &,
    #{$block}_role_details &,
    #{$block}_role_wtl-card-history &
      padding: 0

    #{$block}_role_rota &
      border-top-right-radius: $border-radius !important
      border-top-left-radius: $border-radius !important

    @media screen and (max-width: 960px)
      padding-right: 15px
      padding-left: 15px

      #{$block}_role_edit &,
      #{$block}_role_add &,
      #{$block}_role_task-create &,
      #{$block}_role_task-edit &,
      #{$block}_role_task-overview &,
      #{$block}_role_login &,
      #{$block}_role_reset &,
      #{$block}_role_change &,
      #{$block}_role_set &,
      #{$block}_role_set-confirmation &,
      #{$block}_role_accept-invite &,
      #{$block}_role_rota &,
      #{$block}_role_bounced-email &,
      #{$block}_role_venue-details &,
      #{$block}_role_disciplinary-details &,
      #{$block}_role_csv-upload-payments &,
      #{$block}_role_history &,
      #{$block}_role_wtl-card-history &
        padding: 0

      #{$block}_role_shift-details &
        padding-left: 30px
        padding-right: 30px

    @media screen and (max-width: 480px)
      #{$block}_role_shift-details &
        padding-left: 15px
        padding-right: 15px

    // $Modal window content MOD: role error
    &_role_error
      padding-top: 230px
      background: #fff url('../icons/icon-error.svg') center 35px no-repeat
      background-size: 165px 165px

    // $Modal window content MOD: role success
    &_role_success
      padding-top: 230px
      background: #fff url('../icons/icon-success.svg') center 35px no-repeat
      background-size: 165px 165px


  // $Modal window group
  &__group
    padding: 20px
    border-bottom: 1px solid $boss-very-light-gray

    &:last-child
      border-bottom: none

    @media screen and (max-width: 960px)
      padding-left: 15px
      padding-right: 15px


  // $Modal window group label
  &__group-label
    +text-normalizer()
    display: block
    text-transform: uppercase
    text-align: left

    &>span
      display: inline-block
      border-bottom: 1px solid $boss-very-light-gray


  // $Modal window form
  &__form
    display: flex
    flex-direction: column
    align-items: center
    padding: 20px 30px 30px

    #{$block}_role_action &
      padding: 0

    @media screen and (max-width: 960px)
      padding-right: 15px
      padding-left: 15px

      #{$block}_role_action &
        padding: 0


  // $Modal window overview
  // $Modal window timeline
  &__overview,
  &__timeline
    padding: 20px 30px 30px

    @media screen and (max-width: 960px)
      padding-left: 15px
      padding-right: 15px


  // $Modal window message block
  &__message-block
    display: block
    width: 100%

    &:not(:last-child)
      margin-bottom: 30px


  &__message-group

    &:not(:last-child)
      margin-bottom: 20px

      #{$block}_role_disciplinary-details &
        padding-bottom: 20px
        border-bottom: 1px solid #d8d8d8


  // $Modal window message title
  &__message-title
    +text-normalizer()
    display: block
    margin-bottom: 5px
    text-align: center
    color: $boss-dark-gray
    font-size: 22px


  // $Modal window message text
  &__message-text
    +text-normalizer()
    display: block
    text-align: center
    color: $boss-medium-gray
    font-size: 18px

    #{$block}_role_note &
      text-align: left

    #{$block}_role_danger &,
    #{$block}_role_confirm &
      color: map-get($boss-app-palette, alert)
      font-size: 24px

    #{$block}_role_ok &
      color: map-get($boss-app-palette, secondary)
      font-size: 24px

    &:not(:last-child)
      #{$block}_role_note &
        margin-bottom: 10px


  &__message-text-marked
    font-weight: 600


  &__message-text-wrap
    overflow-wrap: break-word
    word-wrap: break-word
    word-break: break-word
    hyphens: auto


  // $Modal window message image
  &__message-image
    display: block
    width: 100%
    max-width: 100%


  &__chart
    margin-bottom: 20px

    &_hidden-xs
      @media screen and (max-width: 480px)
        display: none

    &_visible-xs
      @media screen and (min-width: 481px)
        display: none


  // $Modal window controls block
  &__controls-block
    display: flex
    flex-direction: column
    align-items: center


  // $Modal window actions
  &__actions
    display: flex
    flex-direction: row
    justify-content: center
    align-items: flex-start
    width: 100%

    // $Modal window actions CONTEXT: $Modal window MOD: role note
    #{$block}_role_note &
      justify-content: flex-end

    #{$block}_role_shift-details &
      justify-content: flex-start

    #{$block}_role_history &
      padding: 0 30px 45px

    @media screen and (max-width: 960px)
      #{$block}_role_note &
        justify-content: center

      #{$block}_role_history &
        padding: 0 30px 30px

    @media screen and (max-width: 480px)
      #{$block}_role_history &
        padding-left: 15px
        padding-right: 15px


  // $Modal window action
  &__action
    +text-normalizer()
    position: relative
    display: inline-block
    font-size: 16px
    cursor: pointer
    vertical-align: middle
    color: map-get($boss-app-palette, primary)
    text-decoration: underline

    &:hover,
    &:focus
      color: map-get($boss-app-palette, primary)

    &:hover
      text-decoration: none

    &_role_edit,
    &_role_save,
    &_role_details
      padding-left: 20px

      &:after
        content: ''
        position: absolute
        left: 0
        top: 50%
        display: block
        width: 14px
        height: 14px
        margin-top: -7px
        background-repeat: no-repeat
        background-position: center center
        background-size: contain
        transition: all .4s

    &_role_edit
      &:after
        background-image: url(../icons/icon-pencil-primary.svg)

    &_role_save
      &:after
        background-image: url(../icons/icon-checked-primary.svg)

    &_role_details
      &:after
        background-image: url(../icons/icon-zoom-primary.svg)

    &_position_after
      margin-left: 20px


  // $Modal window button
  &__button
    margin-right: 10px

    &:last-of-type
      margin-right: 0


  // $Modal window numpad
  &__numpad
    display: block
    width: 340px
    margin-bottom: 20px
    border: 2px solid $boss-light-gray


  // $Modal window numpad label
  &__numpad-label
    +text-normalizer()
    display: block
    width: 100%
    height: 40px
    overflow: hidden
    text-align: center
    color: $boss-light-gray
    font-size: 40px
    line-height: 40px
    letter-spacing: 5px


  // $Modal window numpad row
  &__numpad-row
    display: flex
    flex-direction: row
    justify-content: center
    align-items: flex-start

    &:not(:last-child)
      border-bottom: 2px solid $boss-light-gray


  // $Modal window numpad button
  &__numpad-button
    +text-normalizer()
    flex-grow: 0
    flex-shrink: 0
    display: block
    width: 112px
    height: 80px
    padding: 0
    color: $boss-light-gray
    text-align: center
    font-size: 40px
    line-height: 1
    font-weight: 300
    user-select: none
    cursor: pointer
    background-color: transparent
    border-radius: 0
    transition: background-color 0.2s
    animation-timing-function: ease-out

    &:nth-child(2),
    &:only-child
      border-right: 2px solid $boss-light-gray
      border-left: 2px solid $boss-light-gray

    &:active
      background-color: $boss-light-gray


  // $Modal window numpad submit
  &__numpad-submit
    width: 340px !important
    text-align: center
    font-size: 20px


  & .closeButton--jss-0-1
    width: 66px !important
    height: 66px !important
    left: auto !important
    right: -33px !important
    top: -30px !important
    background: transparent url('../icons/icon-close-modal.svg') center center no-repeat !important
    background-size: 100% !important
    border-radius: 50%
    box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.3)

    & svg
      display: none !important

  // Override for the react-modal styles
  @at-root
    .ReactModalPortal

    .boss-modal-window-overlay,
    .ReactModal__Overlay
      position: fixed !important
      top: 0 !important
      right: 0 !important
      bottom: 0 !important
      left: 0 !important
      z-index: 10000 !important
      background-color: rgba(0,0,0,.75) !important
      overflow-x: hidden !important
      overflow-y: auto !important

    .ReactModal__Body--open
      overflow: hidden

    .ReactModal__Body--open.iosBugFixModalInput
      position: fixed
      overflow: visible


