@import '../helpers/settings'
@import '../helpers/mixins'

////////////////////////////////////////
// $Message
////////////////////////////////////////

//////////////////////////////////////// Block variables


//////////////////////////////////////// Block mixins and functions


//////////////////////////////////////// Block styles
$block: ".boss-message"

#{$block}
  +box-model-normalizer()
  display: block
  width: 100%
  padding: 20px 20px 15px
  border-radius: 5px
  background-color: map-get($boss-app-palette, primary)

  // $Message MOD: status success
  &_status_success
    background-color: map-get($boss-app-palette, secondary)

  // $Message MOD: size small
  &_size_small
    padding: 10px 15px

  // $Message MOD: role calendar-note
  &_role_calendar-note
    padding: 20px 25px
    border-radius: 10px
    background-color: map-get($boss-app-palette, secondary)

  // $Message MOD: role note
  &_role_note
    padding: 10px 15px

  // $Message MOD: role clocking app note
  &_role_ca-note
    padding: 20px 25px
    text-align: center

  // $Message MOD: role safe checks details
  &_role_sc-details
    display: inline-block
    width: auto
    margin-bottom: 15px
    background-color: $boss-extra-light-gray
    padding: 15px 20px 5px

    &:last-of-type
      margin-bottom: 0

  // $Message MOD: role checklist note
  &_role_checklist-note
    padding: 15px 25px
    border: 2px solid map-get($boss-app-palette, alert)
    background-color: transparent


  // $Message title
  &__title
    +text-normalizer()
    margin: 0
    text-transform: uppercase
    font-weight: bold
    font-size: 18px
    color: #fff


  // $Message text
  &__text
    +text-normalizer()
    display: block
    margin: 0
    font-size: 18px
    color: #fff

    #{$block}_role_calendar-note &
      font-size: 14px

    #{$block}_role_note &
      font-size: 14px

    #{$block}_role_ca-note &
      text-align: center

    #{$block}_role_sc-details &
      font-size: 14px
      color: $boss-dark-gray

    #{$block}_role_checklist-note &
      color: map-get($boss-app-palette, alert)
      font-size: 14px

    // $Message text MOD: marked text
    &_marked
      font-weight: 600


  // $Message meta information
  &__meta
    display: block
    margin-top: 10px


  // $Message meta information text
  &__meta-text
    +text-normalizer()

    display: inline-block
    margin-right: 25px
    margin-bottom: 10px
    color: $boss-dark-gray
    font-size: 14px
    vertical-align: middle

    #{$block}_role_sc-details &
      font-size: 12px

    &:before
      content: ""
      display: inline-block
      margin-right: 8px
      vertical-align: middle
      line-height: 100%
      background-repeat: no-repeat
      background-position: center center
      background-size: contain

    &:last-of-type
      margin-right: 0

    // $Message meta information text MOD: role date
    &_role_date
      &:before
        width: 16px
        height: 16px
        margin-top: -2px
        background-image: url("../icons/icon-calendar-dark-gray.svg")

    // $Message meta information text MOD: role user
    &_role_user
      &:before
        width: 12px
        height: 16px
        background-image: url("../icons/icon-user-dark-gray.svg")
