@import '../helpers/settings'
@import '../helpers/mixins'

////////////////////////////////////////
// $Loading spinner
////////////////////////////////////////

//////////////////////////////////////// Block variables


//////////////////////////////////////// Block mixins and functions


//////////////////////////////////////// Block styles
$block: ".boss-spinner"

#{$block}
  +box-model-normalizer()
  display: block
  width: 40px
  height: 40px
  margin: 0 auto
  background-image: url('../icons/spinner.svg')
  background-repeat: no-repeat
  background-size: contain
  background-position: center center

  // $Loading spinner MOD: size medium
  &_size_medium
    width: 60px
    height: 60px

  // $Loading spinner MOD :size large
  &_size_large
    width: 80px
    height: 80px
