@import '../helpers/settings'
@import '../helpers/mixins'

////////////////////////////////////////
// $Count
////////////////////////////////////////

//////////////////////////////////////// Block variables


//////////////////////////////////////// Block mixins and functions


//////////////////////////////////////// Block styles
$block: ".boss-count"

#{$block}
  +box-model-normalizer()

  display: inline-block
  padding: 10px 15px
  border: 2px solid #c4c4c4
  border-radius: 6px

  &_role_link
    outline: none
    transition: all .4s

    &:hover
      opacity: 0.75

    &:focus
      outline: none

  &_adjust_row
    flex-grow: 1
    flex-shrink: 1
    width: 100%

  &_adjust_flow
    margin-bottom: 15px

    @media screen and (max-width: 960px)
      width: 100%

  &_adjust_flow,
  &_adjust_row

    @media screen and (max-width: 960px)
      width: 100%

    &:not(:last-child)
      margin-right: 15px

      @media screen and (max-width: 960px)
        margin-right: 0
        margin-bottom: 15px

  &_size_half
    width: 50%

    @media screen and (max-width: 960px)
      width: 100%

  &_type_solid
    background-color: #eaeaea
    border-color: #eaeaea

  &_type_badge
    border: none
    padding: 40px 20px
    box-shadow: 0 5px 30px -5px rgba(0,0,0,.3)

    @media screen and(max-width: 480px)
      padding: 30px 20px

  &_type_badge#{&}_adjust_flow
    margin-bottom: 15px

  &_type_badge#{&}_adjust_row,
  &_type_badge#{&}_adjust_flow
    &:not(:last-child)
      margin-right: 30px
      @media screen and (max-width: 960px)
        margin-right: 0
        margin-bottom: 30px

  &_type_badge#{&}_state_alert
    background-color: #ff8587


  &__group
    display: flex
    flex-direction: row
    justify-content: flex-start
    align-items: flex-start
    width: 100%

    #{$block}_type_badge &
      align-items: center


  &__number
    +text-normalizer()
    flex-grow: 0
    flex-shrink: 0
    display: inline-block
    height: 26px
    min-width: 26px
    margin-right: 15px
    padding: 5px
    font-size: 16px
    line-height: 1
    text-align: center
    color: #FFF
    border-radius: 13px / 50%
    background-color: #c1c1c1

    #{$block}_type_badge &
      height: auto
      min-width: 0
      padding: 0
      font-size: 50px
      text-align: left
      background-color: transparent
      border-radius: 0
      color: #808080

    #{$block}_type_badge#{$block}_state_alert &
      color: #FFF

    @media screen and(max-width: 960px)
      #{$block}_type_badge &
        font-size: 45px

    @media screen and(max-width: 480px)
      #{$block}_type_badge &
        font-size: 40px

    &_position_last
      margin-right: 0
      margin-left: 15px


  &__label
    +text-normalizer()
    flex-grow: 1
    flex-shrink: 1
    display: block
    width: 100%
    max-width: 100%
    padding-top: 2px
    font-weight: 600

    #{$block}_type_badge &
      padding-top: 0
      font-size: 20px
      color: #808080

    #{$block}_type_badge#{$block}_state_alert &
      color: #FFF

    @media screen and(max-width: 960px)
      #{$block}_type_badge &
        line-height: 1.3


    &_role_date
      &:before
        content: ""
        display: inline-block
        width: 16px
        height: 16px
        margin-right: 10px
        background-size: cover
        vertical-align: middle
        background-image: url(../icons/icon-calendar-dark-gray.svg)

    &_role_time
      &:before
        content: ""
        display: inline-block
        width: 16px
        height: 16px
        margin-right: 10px
        background-size: cover
        vertical-align: middle
        background-image: url(../icons/icon-clock-dark-gray.svg)

