@import '../helpers/settings'
@import '../helpers/mixins'

////////////////////////////////////////
// $Vetting block
////////////////////////////////////////

//////////////////////////////////////// Block variables


//////////////////////////////////////// Block mixins and functions


//////////////////////////////////////// Block styles
$block: ".boss-vetting"

#{$block}
  +box-model-normalizer()
  display: block
  width: 100%


  &__stats
    display: block
    width: 100%


  &__stats-group
    display: flex
    flex-direction: row
    justify-content: flex-start
    align-items: flex-start

    @media screen and (max-width: 960px)
      flex-direction: column

    &:not(:last-child)
      margin-bottom: 40px

      @media screen and (max-width: 960px)
        margin-bottom: 30px


  &__filter
    display: block
    width: 100%


  // $Vetting block message
  &__message
    display: block
    width: 100%


  &__flow
    display: flex
    flex-direction: row
    justify-content: flex-start
    align-items: flex-start
    flex-wrap: wrap
    width: 100%
    padding-top: 30px

  &__flow-item
    flex-grow: 0
    flex-shrink: 1
    width: 25%
    padding: 0 30px 30px 0

    @media screen and (max-width: 1280px)
      width: 33.3%

    @media screen and (max-width: 960px)
      width: 50%

    @media screen and (max-width: 640px)
      width: 100%
      padding-right: 0

    &:nth-child(4n)
      @media screen and (min-width: 1281px)
        padding-right: 0

    &:nth-child(3n)
      @media screen and (min-width: 961px) and (max-width: 1280px)
        padding-right: 0

    &:nth-child(2n)
      @media screen and (min-width: 641px) and (max-width: 960px)
        padding-right: 0

    &:last-child
      @media screen and (max-width: 640px)
        padding-bottom: 0


  // $Vetting block review area
  &__review
    display: flex
    flex-direction: row
    justify-content: flex-start
    align-items: flex-start
    flex-wrap: wrap
    width: 100%
    padding-top: 40px
    padding-bottom: 20px
    border-bottom: 1px solid $boss-very-light-gray

    @media screen and (max-width: 960px)
      padding-top: 30px
      padding-bottom: 10px

    // $Vetting block review area MOD: state empty
    &_state_empty
      padding-top: 0
      padding-bottom: 0
      border-bottom: none


  // $Vetting block dismiss area
  &__dismiss
    display: flex
    flex-direction: row
    justify-content: flex-start
    align-items: flex-start
    flex-wrap: wrap
    padding-top: 40px
    padding-bottom: 20px

    @media screen and (max-width: 960px)
      padding-top: 30px
      padding-bottom: 0px

    // $Vetting block dismiss area MOD: state empty
    &_state_empty
      padding-top: 0
      padding-bottom: 0


  // $Vetting block person
  &__person
    flex-grow: 0
    flex-shrink: 1
    width: 50%
    margin-bottom: 10px
    padding-right: 30px

    @media screen and (max-width: 960px)
      width: 100%
      padding-right: 0

    &:nth-of-type(2n)
      padding-right: 0


  // $Vetting block text placeholder
  &__text-placeholder
    +text-normalizer()
    font-size: 18px
    line-height: 1
