@import '../helpers/settings'
@import '../helpers/mixins'

////////////////////////////////////////
// $Page header
////////////////////////////////////////

//////////////////////////////////////// Block variables


//////////////////////////////////////// Block mixins and functions


//////////////////////////////////////// Block styles
$block: ".boss-page-header"

#{$block}
  display: block
  width: 100%
