@import '../helpers/settings'
@import '../helpers/mixins'

////////////////////////////////////////
// $Count
////////////////////////////////////////

//////////////////////////////////////// Block variables


//////////////////////////////////////// Block mixins and functions


//////////////////////////////////////// Block styles
$block: ".boss-count"

#{$block}
  +box-model-normalizer()

  display: inline-block
  width: auto
  max-width: 100%
