@import '../helpers/settings'
@import '../helpers/mixins'

////////////////////////////////////////
// $Date picker
////////////////////////////////////////

//////////////////////////////////////// Block variables


//////////////////////////////////////// Block mixins and functions


//////////////////////////////////////// Block styles
$block: ".date-picker"

#{$block}

  // Date picker input styles
  @at-root
    .date-picker-input
      display: block
      width: 100%

      &_size_min
        min-width: 120px

      &_type_icon
        position: relative
        min-width: 150px

        &:before
          content: ''
          position: absolute
          top: 50%
          left: 20px
          z-index: 10
          display: block
          width: 14px
          height: 14px
          margin-top: -7px
          background: url(../icons/icon-calendar-medium-gray.svg) no-repeat 0 0
          background-size: contain

        & input,
        & .date-picker-input-field
          min-width: 150px
          padding-left: 45px

      &_type_inline
        margin-top: -2px

        & input,
        & .date-picker-input-field
          height: 25px
          line-height: 25px
          padding: 0 10px

      &_state_error input,
      &_state_error .date-picker-input-field
        outline: 1px solid map-get($boss-app-palette, alert-border) !important

      &_state_error input:focus
        box-shadow: 0 0 5px 0 map-get($boss-app-palette, alert) !important

      & input
        +text-normalizer()
        display: block
        min-width: 120px
        width: 100%
        height: 50px
        line-height: 50px
        box-sizing: border-box
        background-color: #FFF
        border: 1px solid $boss-very-light-gray
        padding: 0 20px
        border-radius: 2px
        box-shadow: none

        &:focus
          outline: none
          box-shadow: 0 0 5px 0 $boss-very-light-gray
          border-color: $boss-very-light-gray

        &[type=text]::-ms-clear
          display: none

        &[readonly]
          background-color: #FFF
          cursor: text

        ::-webkit-input-placeholder
          color: $boss-input-placeholder-color
          opacity:  1 !important

        :-moz-placeholder
          color: $boss-input-placeholder-color
          opacity:  1 !important

        ::-moz-placeholder
          color: $boss-input-placeholder-color
          opacity:  1 !important

        :-ms-input-placeholder
          color: $boss-input-placeholder-color
          opacity:  1 !important

        :placeholder-shown
          color: $boss-input-placeholder-color
          opacity:  1 !important


    .date-picker-input-field
      +text-normalizer()
      display: block
      min-width: 120px
      width: 100%
      height: 50px
      box-sizing: border-box
      background-color: #FFF
      line-height: 50px
      border: 1px solid $boss-very-light-gray
      padding: 0 20px
      border-radius: 2px
      cursor: text

      &_state_error
        outline: 1px solid map-get($boss-app-palette, alert-border)


    .date-picker-input_type_inline.date-picker-input_type_icon
      &:before
        left: 10px
        width: 12px
        height: 12px
        margin-top: -6px

      & input,
      & .date-picker-input-field
        padding-left: 35px


  // Date picker direct overrides
  @at-root
    .react-datepicker__portal
      z-index: 11000
      background-color: rgba(0, 0, 0, .75)

    .react-datepicker__input-container
      display: block
      width: 100%

  // React-datepicker styles
  &.react-datepicker
    +box-model-normalizer()
    border-radius: 3px
    border-color: $boss-very-light-gray


    & .react-datepicker__triangle
      border-bottom-color: #FFF

      &:before
        border-bottom-color: $boss-very-light-gray

      @at-root .react-datepicker__tether-element-attached-top &
        border-bottom-color: #fff

        &:before
          border-bottom-color: $boss-very-light-gray

      @at-root .react-datepicker__tether-element-attached-bottom &
        border-top-color: #fff
        outline: 1px

        &:before
          border-top-color: $boss-very-light-gray


    & .react-datepicker__header
      background-color: #fff
      border-bottom: none


    & .react-datepicker__current-month
      +text-normalizer()
      padding: 10px
      text-align: center


    & .react-datepicker__navigation
      top: 20px
      display: block
      width: 15px
      height: 15px
      border: none

      &--previous
        left: 20px
        background-image: url(../icons/icon-arrow-left-light-gray.svg)
        background-position: center center
        background-repeat: no-repeat
        background-size: contain

      &--next
        right: 20px
        background-image: url(../icons/icon-arrow-left-light-gray.svg)
        background-position: center center
        background-repeat: no-repeat
        background-size: contain
        transform: rotate(-180deg)

      &--hidden
        display: none


    & .react-datepicker__overlay
      position: absolute
      top: 65px
      right: 0
      bottom: 0
      left: 0
      z-index: 100
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      background-color: rgba(0, 0, 0, .7)

      &--hidden
        display: none

    & .react-datepicker__overlay-text
      +text-normalizer()
      width: 100%
      max-width: 200px
      padding-bottom: 40px
      font-size: 24px
      text-align: center
      color: #fff

    & .react-datepicker__month
      position: relative
      z-index: 1
      margin: 0
      padding: 0 10px 10px

      &:before
        content: ''
        z-index: -1
        position: absolute
        top: -50px
        right: 0
        left: 0
        display: block
        height: 100px
        box-shadow: inset 0 60px 60px -60px rgba(0, 0, 0, .15)

      &--inactive
        opacity: .35


    & .react-datepicker__week
      white-space: nowrap


    & .react-datepicker__month-select
      +text-normalizer()
      margin: 5px 0 15px
      padding: 0 25px 0 10px

    & .react-datepicker__year-select
      +text-normalizer()
      margin: 5px 0 15px
      padding: 0 25px 0 10px


    & .react-datepicker__week-number
      +text-normalizer()
      width: 40px
      padding: 10px 0
      text-align: center


    & .react-datepicker__day-names
      padding-top: 10px

      &--inactive
        opacity: .35


    & .react-datepicker__day-name
      +text-normalizer()
      width: 40px
      padding: 10px 0
      font-weight: 600
      text-align: center


    & .react-datepicker__day
      +text-normalizer()
      width: 40px
      padding: 10px 0
      text-align: center

      &:hover
        border-radius: 0
        background-color: map-get($boss-app-palette, primary)
        color: #FFF

      &--today
        font-weight: 400

      &--highlighted,
      &--selected,
      &--in-selecting-range,
      &--in-range,
      &--keyboard-selected
        border-radius: 0
        background-color: map-get($boss-app-palette, primary)
        color: #fff

        &:hover
          background-color: darken(map-get($boss-app-palette, primary), 5%)

      &--disabled
        cursor: default;
        color: $boss-very-light-gray
        background-color: transparent

        &:hover
          background-color: transparent
          color: $boss-very-light-gray

      &--outside-month
        color: #d8d8d8

        &:hover
          color: #FFF
