@import '../helpers/settings'
@import '../helpers/mixins'

////////////////////////////////////////
// $Rota overview chart
////////////////////////////////////////

//////////////////////////////////////// Block variables


//////////////////////////////////////// Block mixins and functions


//////////////////////////////////////// Block styles
$block: ".rota-overview-chart"

#{$block}
  +text-normalizer()

  min-width: 700px
  height: 400px

  & svg
    height: 400px

  & svg .nv-x.nv-axis .tick:nth-child(even) line
    opacity: .45 !important

  &  svg .nv-x.nv-axis .tick:nth-child(even) text
    opacity: 0 !important
