@import '../helpers/settings'
@import '../helpers/mixins'

////////////////////////////////////////
// $Rota overview chart
////////////////////////////////////////

//////////////////////////////////////// Block variables


//////////////////////////////////////// Block mixins and functions


//////////////////////////////////////// Block styles
$block: ".rota-overview-chart"

#{$block}
  +text-normalizer()
  position: relative
  display: block
  width: 100%

  &__inner
    position: relative
    display: block
    width: 100%
    overflow: hidden
    text-align: center


  &__content
    display: inline-block
    text-align: left


  & .nv-chart
    display: block
    min-width: 660px
    min-height: 450px


  & svg
    min-height: 450px

  & svg .nv-x.nv-axis .tick:nth-child(even) line
    opacity: .45 !important

  &  svg .nv-x.nv-axis .tick:nth-child(even) text
    opacity: 0 !important

  & .nvtooltip
    z-index: 10
    display: block
    padding: 20px 15px 15px
    border: none
    background-color: #FFF
    border-radius: 10px
    opacity: 1
    box-shadow: 0 0 10px -1px rgba(0, 0, 0, .2)

  & .nvd3 .nv-axis .nv-axisMaxMin text
    +text-normalizer()
    font-size: 12px

  & .nvd3 text
    +text-normalizer()
    font-size: 12px

  & .nvd3 .nv-axis text
    text-transform: uppercase

  &__hover-indicator
    display: none

  &__tooltip-pointer
    z-index: 11
    position: absolute
    display: block

    &_position_left
      margin-top: -16px
      border-right: 16px solid #fff
      border-top: 16px solid transparent
      border-bottom: 16px solid transparent

    &_position_right
      margin-top: -16px
      border-left: 16px solid #fff
      border-top: 16px solid transparent
      border-bottom: 16px solid transparent

    &_position_top
      margin-left: -16px
      border-bottom: 16px solid #fff
      border-right: 16px solid transparent
      border-left: 16px solid transparent

    &_position_bottom
      margin-left: -16px
      border-top: 16px solid #fff
      border-right: 16px solid transparent
      border-left: 16px solid transparent
